@import "tailwindcss";

@config "../tailwind.config.js";

html {
  scrollbar-gutter: auto !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body > div {
  height: 100%;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
